.app_header {
    display: inline-flex;
    /*align-items: flex-end;*/
    justify-content: space-between;
}

.app_header img {
    border-radius: 10px;
    width: 155px;
    height: 200px;
    font-size: 26px;
}

.app_header h2 {
    font-size: 1.2rem;
    color: grey;
}

.contact-content {
    padding-left: 100px;
}

.links {
    margin-bottom: 1rem;
}

